<mat-toolbar class="navbar">
  <button mat-button style="background-color: transparent;" (click)="navigateToSection('main')">
    <img class="home-icon" src="../favicon.ico" style="width: 32px; height: 32px">
  </button>

  <span class="menu-spacer"></span>

    <button mat-button disableRipple class="menu-button-desk" (click)="navigateToSection('about')">ABOUT</button>
    <button mat-button disableRipple class="menu-button-desk" (click)="navigateToSection('work')">WORK</button>
    <button mat-button disableRipple class="menu-button-desk" style="margin-right: 16px;" (click)="navigateToSection('contact')">CONTACT</button>
    <a href="assets/at.png" download mat-stroked-button class="resume-desk"
      color="primary" 
      style="
        font-family: consolas; 
        font-size: 15; 
        border: 1px solid #FFEE58;
        border-radius: 4px;
      ">
      RESUMÉ
</a>

    <div class="menu-mob">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon color="primary">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" >
      <button mat-menu-item>
        <span>ABOUT</span>
      </button>
      <button mat-menu-item>
        <span>WORK</span>
      </button>
      <button mat-menu-item>
        <span>CONTACT</span>
      </button>
      <button mat-menu-item>
        <span>RESUMÉ</span>
      </button>
    </mat-menu>
    </div>

    
</mat-toolbar>

<mat-icon 
    style="
      display: flex;
      color: #D9D9D9; 
      transform: scale(2);
      justify-self: center;
      position: fixed;
      z-index: 1; 
      left: 49.3%;
      top: 90%;
    " 
    fontSize="large">
    expand_more
  </mat-icon>

  
