<div id="about" class="about">
  <div class="paddings" style="width: 430px;"></div>

  <div class="about-section">
    <div class="about-bar">
      <h1 class="about-section-title">
        > about me
      </h1>
    </div>
    <div style="display: flex; flex-direction: row; align-items: flex-start;">
      <p class="about-section-text">
        > Hi, I'm Leticia. I'm a developer with a background in product and digital design. My past roles taught me to identify and find creative solutions to pain points while working with multidisciplinary squads under agile methodology. 
        <br/>  
        <br/> 
        > I'm transitioning to development because I found a strong affinity for problem-solving code and developing products beyond the looks. Having learned to code in just a few months, I'm strongly driven by challenges and curiosity and I'm very dedicated and passionate about the things I put my mind to. My goal is to turn this new passion into a full-time career.
        <br/>
        <br/> 
        > Currently living in the greater Vancouver area
      </p>
      
    
    
    <img class="pic" src="assets/profilepic.png">
    </div>

    <div class="skills-bar">
      <h1 class="skills-section-title">
        > my skills
      </h1>
    </div>

    <div class="skills-icons" style="display: flex; flex-direction: row; align-items: flex-start;">
      <mat-grid-list>
        <mat-grid-tile cols="1">
          <img src="assets/html.png">
        </mat-grid-tile>

      </mat-grid-list>
    </div>

  </div>

  <div class="paddings" style="width: 430px;"></div>
</div>