.about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 150px;
  margin-top: -150px;
}


.about-bar {
  background-color: #D0D0D0;

  height: 40px;
}

.about-section-title {
  font-size: 21px;
  color: #000C18;
  margin: auto;
  padding: 8px 0px 8px 20px;
}

.about-section {
  width: 1080px;
  position: relative;
}


.about-section-text {
  margin: 43px 73px 0px 0px ;
  font-size: 14px;
  color: #8B9095;
  line-height: 150%;
  width: 500px;
}

.pic {

  margin-right: 78px;
  margin-top: -80px;

}

.skills-bar {
  background-color: #D0D0D0;
  height: 40px;
  margin-top: 73px;
  width: 65%;
}

.skills-section-title {
  font-size: 21px;
  color: #000C18;
  margin: auto;
  padding: 8px 0px 8px 20px;
}

.text-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.grid {
  margin-top: 43px; 
  margin-right: 80px;
}



@media screen and (max-width: 1280px) {
  
}

@media screen and (max-width: 1024px) {

  .paddings {
    width: 100px !important;
  }

}

@media screen and (max-width: 950px) {
  .about-section-text {
    width: 100%;
    margin: 0;
    margin-top: 30px;
  }

  .pic {
    margin-top: 20px;
    margin-right: 0;
  }

  .text-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-bar {
    width: 100%;
  }

  .grid {
    margin-right: 0px;
  }


}

@media screen and (max-width: 650px) {


  
}

@media screen and (max-width: 480px) {

  .about-section-text {
    font-size: 12px;
  }

  


}