<div class="contact" id="contact">
  <div class="paddings" style="width: 500px;"></div>
  <div class="contact-section">
    <div class="contact-bar">
      <h1 class="contact-title">
        > contact me
      </h1>
    </div>
    <p class="contact-text">
      Currently open to work or just chat. If you have any opportunities, or just want to say hi, feel free to reach out to me by email or anywhere I'm available.
    </p>
    <div class="contact-buttons-section">
      <a color="primary" class="contact-buttons" mat-stroked-button href="mailto:leticiagmonteiro@gmail.com" style="margin-right: 20px">EMAIL</a>
      <a color="primary" class="contact-buttons" mat-stroked-button href="https://www.linkedin.com/in/leticia-monteiro-408ba2111/">LINKEDIN</a>
    </div>
    <p style="margin-bottom: 150px; color: #8B9095; font-size: 10px;">Created by me :)</p>
  </div>
  <div class="paddings" style="width: 500px;"></div>
</div>