<div class="work" id="work">
  <div class="paddings" style="width: 430px;"></div>

    <div class="work-section">
      <div class="work-bar">
        <h1 class="work-section-title">
          > my projects
        </h1>
      </div>

      <div class="project">
        <div class="project-text-group">
          <h1 class="project-title">
            Flextnit (React)
          </h1>
          <div class="project-image-mobile">
              <a mat-button href="https://github.com/wtfoxx/flexnit-client" color="primary" class="image-button">
                <img width="100%" src="assets/flexnit-react.png">
              </a>
          </div>
          <p class="labels"><mark style="background-color: #D0D0D0; padding: 5px 10px;"> > React / Bootstrap / Node.js / Express</mark> </p>
          <div style="display: flex; flex-direction: row; align-items: center; ">
            <a mat-icon-button href="https://github.com/wtfoxx/flexnit-client" matTooltip="Client Github Repo"><img src="assets/github.png" style=" width: 21px;"></a>
            <a mat-icon-button href="https://github.com/wtfoxx/movie-api" matTooltip="API Github Repo"><mat-icon style="color: #D0D0D0;">storage</mat-icon></a>  
            <a mat-icon-button href="https://flexnit.netlify.app/" matTooltip="Live app"><mat-icon style="color: #D0D0D0;">open_in_new</mat-icon></a>
            <!-- <button mat-icon-button (click)="toCase()" matTooltip="Case study"><mat-icon style="color: #D0D0D0;">menu_book</mat-icon></button> -->
          </div>
          <p class="project-text-left">
            Flexnit is a single page app that uses state routing and a responsive UI library for a seamless, smooth experience. The app provides movies from a dedicated API and allows users to view information about the movies, Directors and Genres, and add/remove Movies to a list of favorites. New users are able register, registered users can login, interact with the app and logout.
          </p>
         
        </div>
        <div class="project-image">
          <a mat-button href="https://github.com/wtfoxx/flexnit-client" color="primary" class="image-button">
          <img width="100%" src="assets/flexnit-react.png">
          </a>
        </div>
      </div>


      
      <div class="project right">
        <div class="project-image">
          <a href="https://github.com/wtfoxx/movie-api" mat-button color="primary" class="image-button">
          <img width="100%" src="assets/movie.png">
          </a>
        </div>
        <div class="project-text-group-right">
          <h1 class="project-title-right">
            Movie API
          </h1>
          <div class="project-image-mobile">
            <a href="https://wtfoxx.github.io/meet/" mat-button color="primary" class="image-button">
            <img width="100%" src="assets/movie.png">
            </a>
          </div>
          <p class="labels-right"><mark style="background-color: #D0D0D0; padding: 5px 10px;"> > MongoDB / Mongoose / Express / Node.js / Morgan</mark> </p>
          <div class="links-right">
            <a href="https://github.com/wtfoxx/movie-api" mat-icon-button matTooltip="Github Repo"><img src="assets/github.png" style=" width: 21px;"></a> 
          </div>
          <p class="project-text-right">
            This API is the backend part of the Flexnit project. A Movie app that allows users to create an account, see information about movies, directors and genres, add and remove movies to their favorites, edit their personal info and more.
            movie-api is a REST API and includes HTTP authentication with JWT passport authentication, bcrypt password hashing, express-validator for server-side input validation and CORS data security.
          </p>        
        </div>    
      </div>



      <div class="project">
        <div class="project-text-group">
          <h1 class="project-title">
            Flextnit (Angular)
          </h1>
          <div class="project-image-mobile">
            <a href="https://wtfoxx.github.io/flexnit-Angular-client/welcome" mat-button color="primary" class="image-button">
            <img width="100%" src="assets/flexnit-angular.png">
            </a>
          </div>
          <p class="labels"><mark style="background-color: #D0D0D0; padding: 5px 10px;"> > React / Bootstrap / Heroku / Netlify / MongoDB</mark> </p>
          <div style="display: flex; flex-direction: row; align-items: center; ">
            <a href="https://github.com/wtfoxx/flexnit-Angular-client" mat-icon-button matTooltip="Client Github Repo"><img src="assets/github.png" style=" width: 21px;"></a> 
            <a mat-icon-button href="https://github.com/wtfoxx/movie-api" matTooltip="API Github Repo"><mat-icon style="color: #D0D0D0;">storage</mat-icon></a>  
            <a href="https://wtfoxx.github.io/flexnit-Angular-client/welcome" mat-icon-button matTooltip="Live app"><mat-icon style="color: #D0D0D0;">open_in_new</mat-icon></a>
          </div>
          <p class="project-text-left">
            Flexnit Angular is a revisit of my previous Flexnit React app, but using Angular this time. It reads from the same dedicated API. Has the same functionalities but does not feature a search bar. The profile picture is randomly generated.
          </p>
         
        </div>
        <div class="project-image">
          <a href="https://wtfoxx.github.io/flexnit-Angular-client/welcome" mat-button color="primary" class="image-button">
          <img width="100%" src="assets/flexnit-angular.png">
          </a>
        </div>
      </div>

      <div class="project right">
        <div class="project-image">
          <a href="https://wtfoxx.github.io/meet/" mat-button color="primary" class="image-button">
          <img width="100%" src="assets/meet.png">
          </a>
        </div>
        <div class="project-text-group-right">
          <h1 class="project-title-right">
            Meet App
          </h1>
          <div class="project-image-mobile">
            <a href="https://wtfoxx.github.io/meet/" mat-button color="primary" class="image-button">
            <img width="100%" src="assets/meet.png">
            </a>
          </div>
          <p class="labels-right"><mark style="background-color: #D0D0D0; padding: 5px 10px;"> > React / MUI / Jest & Jest Cucumber / Enzyme / Puppeteer / Googleapis / AWS</mark> </p>
          <div class="links-right">
            <a href="https://github.com/wtfoxx/meet" mat-icon-button matTooltip="Github Repo"><img src="assets/github.png" style=" width: 21px;"></a> 
            <a href="https://wtfoxx.github.io/meet/" mat-icon-button matTooltip="Live app"><mat-icon style="color: #D0D0D0;">open_in_new</mat-icon></a>
          </div>
          <p class="project-text-right">
            Meet is a progressive, serverless web application that uses the Google Calendar API to provide information about educational events to full-stack developers. Users can filter events by location, expand events to see detailed descriptions and view summary event information using charts.
          </p>        
        </div>    
      </div>

      <div class="project">
        <div class="project-text-group">
          <h1 class="project-title">
            Pokédex
          </h1>
          <div class="project-image-mobile">
            <a href="https://wtfoxx.github.io/pokedex-app/" mat-button color="primary" class="image-button">
            <img width="100%" src="assets/pokedex.png">
            </a>
          </div>
          <p class="labels"><mark style="background-color: #D0D0D0; padding: 5px 10px;"> > JavaScript / Bootstrap / JQuery</mark> </p>
          <div style="display: flex; flex-direction: row; align-items: center; ">
            <a href="https://github.com/wtfoxx/pokedex-app" mat-icon-button matTooltip="Github Repo"><img src="assets/github.png" style=" width: 21px;"></a> 
            <a href="https://wtfoxx.github.io/pokedex-app/" mat-icon-button matTooltip="Live app"><mat-icon style="color: #D0D0D0;">open_in_new</mat-icon></a>
          </div>
          <p class="project-text-left">
           This was my first JavaScript project. It consists of a Pokedex app that will retrieve information from an API to display on a usable app. It uses JS, HTML and CSS, and with external libraries like Bootstrap and JQuery, it ensures a better looking and smoother performing app. You can search for any pokemon on the top right!
          </p>
         
        </div>
        <div class="project-image">
          <a href="https://wtfoxx.github.io/pokedex-app/" mat-button color="primary" class="image-button">
          <img width="100%" src="assets/pokedex.png">
          </a>
        </div>
      </div>

      <div class="project right">
        <div class="project-image">
          <a href="https://github.com/wtfoxx/hello-world" mat-button color="primary" class="image-button">
          <img width="100%" src="assets/hello-world.png">
          </a>
        </div>
        <div class="project-text-group-right">
          <h1 class="project-title-right">
            Hello World
          </h1>
          <div class="project-image-mobile">
            <a href="https://github.com/wtfoxx/hello-world" mat-button color="primary" class="image-button">
            <img width="100%" src="assets/hello-world.png">
            </a>
          </div>
          <p class="labels-right"><mark style="background-color: #D0D0D0; padding: 5px 10px;"> > React Native / Expo / Google Firebase / Gifted Chat</mark> </p>
          <div class="links-right">
            <a href="https://github.com/wtfoxx/hello-world" mat-icon-button matTooltip="Github Repo"><img src="assets/github.png" style=" width: 21px;"></a> 
          </div>
          <p class="project-text-right">
            Hello World is a simple chat app with location and image sharing that uses Google's Firebase and GiftedChat. It's undergoing a visual renovation at the moment.
          </p>        
        </div>    
      </div>


      


    </div>

  <div class="paddings" style="width: 430px;"></div>
</div>
