<div class="work" id="work">
  <div class="paddings" style="width: 430px;"></div>

    <div class="work-section">
      <div class="work-bar">
        <h1 class="work-section-title">
          > my projects
        </h1>
      </div>

      <div class="project">
        <div class="project-text-group">
          <h1 class="project-title">
            Flextnit (React)
          </h1>
          <p class="project-text-left">
            Flexnit is a single page app that uses state routing and a responsive UI library for a seamless, smooth experience. The app provides movies from a dedicated API and allows users to view information about the movies, Directors and Genres, and add/remove Movies to a list of favorites. New users are able register, registered users can login, interact with the app and logout.
          </p>
          <p class="labels"><mark style="background-color: #D0D0D0; padding: 5px 10px;"> > React / Bootstrap / Heroku / Netlify / MongoDB</mark> </p>
        </div>
        <div class="project-image">
          <img width="100%" src="assets/flexnit-react.png">
        </div>
      </div>

    </div>

  <div class="paddings" style="width: 430px;"></div>
</div>
