.work {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: -200px;
  padding-top: 200px;
}


.work-bar {
  background-color: #D0D0D0;

  height: 40px;
}

.work-section-title {
  font-size: 21px;
  color: #000C18;
  margin: auto;
  padding: 8px 0px 8px 20px;
}

.work-section {
  width: 1080px;
  position: relative;
}

.project {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 900px;
  align-items: center;
}

.project-text-group {
  margin: 0px 16px 0px 0px;
  width: 50%;
}

.project-title {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #D0D0D0;
  margin: 0;
}

.project-text-left {

  font-size: 14px;
  color: #8B9095;
  line-height: 150%;
  margin-top: 24px;
}

.project-image {
  width: 50%;
}

.labels {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #000C18;
  margin-top: 8px;
  margin-bottom: 0;

}

.image-button {
  margin: 0;
  padding: 0;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.project-image-mobile {
  display: none;
}

.project-text-group-right {
  margin: 0px 0px 0px 16px;
  width: 50%;
}

.project-text-right {
  font-size: 14px;
  color: #8B9095;
  line-height: 150%;
  margin-top: 24px;
  text-align: right;
}

.project-title-right {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #D0D0D0;
  margin: 0;
  text-align: right;
}

.labels-right {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #000C18;
  margin-top: 8px;
  margin-bottom: 0;
  text-align: right;
}

.links-right {
  display: flex; 
  flex-direction: row-reverse; 
  align-items: center; 
}

@media screen and (max-width: 1280px) {
  
}

@media screen and (max-width: 1024px) {
  .paddings {
    width: 100px !important;
  }


}

@media screen and (max-width: 950px) {  
  .project-text-group {
    width: 100%;
  }

  .project-text-group-right {
    width: 100%;
    margin: 0;
  }

  .project-text-right {
    text-align: left;
  }


  .project {
    min-width: 100%;
    flex-direction: column;
  }

  .project-image {
    display: none;
  }

  .project-image-mobile {
    display: contents;
  }

  .project-title {
    margin-bottom: 15px;
  }

  .project-title-right{
    margin-bottom: 15px;
    text-align: left;
  }

  .labels-right {
    margin-top: 15px;
    text-align: left;
  }

  .labels {
    margin-top: 15px;
  }

  .links-right {

    flex-direction: row; 

  }

}



@media screen and (max-width: 650px) {
  
}

@media screen and (max-width: 480px) {
  .project-text-left {
    font-size: 12px;
  }

  .labels {
    font-size: 12px;
  }
}