<div class="opening" id="main">
  <div class="paddings" style="width: 500px;"></div>
  <div>
    <h1 class="hello-world">
      <mark style="background-color: #D0D0D0; padding: 10px 50px;">hello world;</mark>
    </h1>

    <p class="main-text">
      > my name is Leticia Monteiro
      <br/>
      <br/>
      > a web developer with a background in product and digital design. focused on honing my development skills
      <br/>
      <br/>
      > currently <a>open to work</a>
      <br/>
      <br/>
      > █
    </p>
    <br/>

    <button mat-stroked-button
    (click)="navigateToSection('work')"
    color="primary" 
    style="
      font-family: consolas; 
      font-size: 15; 
      border: 1px solid #FFEE58;
      border-radius: 4px;
    ">
      CHECK OUT MY WORK
    </button>
  </div>
  <div class="paddings" style="width: 700px;"></div>
</div>


