.opening {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-grow: 1;
}

.hello-world {
  color: #000C18;
  font-size: 50px;
  padding-top: 300px;
}

.main-text {
  font-family: 'Consolas';
  font-style: normal;

  font-size: 18px;  
  color: #8B9095;
}

.mark-hello {
  background-color: #D0D0D0; 
  padding: 10px 50px;
}

@media screen and (max-width: 1024px) {
  
  }
  
  @media screen and (max-width: 950px) {
    .paddings {
      width: 100px !important;
    }

    .hello-world{
      font-size: 46px;
    }

    .main-text {
      font-size: 16px;
    }
  }
  
  
  @media screen and (max-width: 650px) {
    .hello-world{
      font-size: 36px;
    }
  
  }
  
  @media screen and (max-width: 480px) {
    .hello-world{
      font-size: 24px;
    }

    .main-text {
      font-size: 14px;
    }

    .mark-hello {
      padding: 10px;
    }
  }

  @media screen and (max-height: 800px) {
    .hello-world {
      padding-top: 200px;
    }  
  }