.contact-links {
  position: fixed;
  left: 95%;
  bottom: 0;
}

.line {
  border-left: 1px solid #d0d0d0;
  height: 120px;
}

.icons {
  margin-bottom: 10px;
  margin-left: -31px;
}

@media screen and (max-width: 1024px) {
  .contact-links {
    display: none;
  }


}
