<div class="case" id="case">
  <div class="paddings" style="width: 500px;"></div>
  <div class="case-section">
    <div class="case-bar">
      <h1 class="case-title">
        > flexnit (react) | case study
      </h1>
    </div>

    <div>
      <h2 style="color: #8B9095;">overview:</h2>
      <p class="case-text">
        The Flexnit App is a single-page web app developed entirely from scratch using the
        MERN stack, state routing, and a responsive UI framework for a seamless, smooth
        experience. The app provides movies from a dedicated API and allows users to create
        and edit their personal accounts, view information about the movies, Directors, and
        Genres, and add/remove movies to a list of favorites.
      </p>
    </div>

    <div class="intro">
      <div style="width: 45%;">
        <h2 style="color: #8B9095;">purpose & context:</h2>
        <p class="case-text">
          Flexnit was a personal project I built as part of a web development program at
          CareerFoundry to demonstrate practical knowledge of full-stack JavaScript
          development.

        </p>
      </div>

      <div style="width: 45%;">
   

        
        <h2 style="color: #8B9095;">objective:</h2>
        <p class="case-text">
          The aim was to build a full-stack project that I could add proudly to my professional
          portfolio. I wanted to build both the server-side and client-side for the app from
          scratch.

        </p>
      </div>
    </div>

    
    <div>
        
      <h2 style="color: #8B9095;">approach:</h2>
      <p class="case-text">
        <u>Server-side:</u>
        <br/>
        The first challenge was to create an API. The method I used was a RESTful API using
        Node.js and Express, allowing it to talk to a non-relational database: MongoDB. The
        API is accessed through HTTP requests like GET, POST, and DELETE, and is edited
        through CRUD methods. It’s secured by HTTP authentication with JWT passport
        authentication, bcrypt password hashing, express-validator for server-side input
        validation, and CORS data security. The API shows and receives information in JSON
        format.

      </p>
    </div>

  </div>
  <div class="paddings" style="width: 500px;"></div>
</div>