
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; scroll-behavior: smooth;}
body { margin: 0; font-family: Consolas; background-color: #000C18;}

.mat-toolbar {
  background-color: transparent;
  padding: 56px 56px !important;
}

@media screen and (max-width: 950px) {
  .mat-toolbar {
    padding: 56px 30px !important;
  }
}

@media screen and (max-width: 650px) {
  .mat-toolbar {
    padding: 40px 10px !important;
  }

}

